body
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: #e63946;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: silver;
}

footer
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: silver;
}

h2
{
  text-align: center;
}