body
{
  font-family: Courier, sans-serif;
  color: silver;
  background-color: grey;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: gold; 
}

footer{
  font-family: Courier, serif;
  text-align: center;
  color: silver;
}

h2
{
  text-align: center;
}

.bolt_pic
{
  text-align: center;
}

.reset_button
{
    background-color: red;
    border-radius: 15px;
}

.submit_button
{
  background-color: rgb(71, 226, 71);
  border-radius: 15px;
}

main{
  color: gold;
}

.green_text
{
  color: rgb(71, 226, 71);
}

select 
{  
  border-radius: 4px;
  background-color: gold;
}

.gold_textbox
{
  border: 3px solid gold;
  border-radius: 4px;
}

table, th, td {
  border: 1px solid black;
}

figure{
  text-align: left;
}

.table_centered {
  margin-left: auto;
  margin-right: auto;
}

.text_centered{
  text-align: center;
}