body
{
  font-family: Courier, sans-serif;
  color: silver;
  background-color: grey;
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: gold;
  /* red = #e63946 */  
}

footer{
  font-family: Courier, serif;
  text-align: center;
  color: silver;
}

h2
{
  text-align: center;
}

figure{
  text-align: center;
}

.reset_button
{
    background-color: red;
    color: gold;
}

.submit_button
{
    background-color: green;
    color: gold;
}

p
{
  color: gold;
}

.lan_select
{
  color: gold;
}