h1, h2, h3 
{
    text-align: center;
}

header, footer 
{
    text-align: center;
}

nav{
    text-align: center;
}

footer 
{
    margin-bottom: 40px;
}

body
{
    margin-left: 100px;
    margin-right: 100px;
    background-color: grey;
}

a 
{
  color: rgb(134, 21, 21);
  text-decoration: none;
}

a:hover
{
  color: rgb(105, 9, 14);
  text-decoration: underline;
}

.top10pic
{
    text-align: left;
}

/*Slideshow Formatting*/
#slides img{
    display: none;
}