<!DOCTYPE html>
<html lang="en-US">
<header>
    <h1>
      Chris Kells || Metal Archive
    </h1>
    <nav>
      <a href="./">Home</a> ||

      <a href="article_warlord.html">Warlord Article</a> || 
      <a href="article_loudness.html">Loudness Article</a> || 

      <a href="interview_satan.html">Satan Interview</a> || 
      <a href="interview_omen.html">Omen Interview</a> || 

      <a href="review_top10.html">Top 10 Albums Review</a> || 
      <a href="review_top5.html">Top 5 Albums Review</a> || 

      <a href="gallery.html">Gallery</a>
      
    </nav>
  </header>
</html>