<!DOCTYPE html>
<html lang="en-US">
<header>
    <h1>
      Connor Kells || ITIS 3135 || Project
    </h1>
    <nav>
      <a href="./">Home</a> ||

      <div class="dropdown">
        <button class="dropbtn">Articles ||
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="articles.html">Article 1</a>
          <a href="articles.html">Article 2</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Interviews ||
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="interviews.html">Interview 1</a>
          <a href="interviews.html">Interview 2</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Reviews ||
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="reviews.html">Review 1</a>
          <a href="reviews.html">Review 2</a>
        </div>
      </div>

      <a href="about.html">About</a> ||
      <a href="gallery.html">Gallery</a>

    </nav>
  </header>
</html>

