<!DOCTYPE html>
<html lang="en-US">
<footer>
    <nav>
      🐉
      <a href="https://webpages.charlotte.edu/ckells/">Charlotte.edu</a> 🐉
      <a href="https://github.com/ckells01/ckells01.github.io">Github</a> 🐉
      <a href="https://ckells01.github.io/itis3135/">Github.io</a> 🐉
      <a href="https://www.freecodecamp.org/Ckells">freeCodeCamp</a> 🐉
      <a href="https://www.codecademy.com/profiles/ckellsUNCC">Codecademy</a> 🐉
      <a href="https://jsfiddle.net/user/ConnorKells/fiddles/">JSFiddle</a> 🐉
      <a href="https://www.linkedin.com/in/connorkells/">LinkedIn</a> 🐉
    </nav>
    <br />
    Created by <a href="kells-designs.com/index.html">Kells Designs Inc</a> &copy;2022.<br />
    <br />
    <div class="val">
    <p>
      <a href="https://validator.w3.org/check?uri=referer" style="text-decoration: none;" style="text-align: center;" id="validation_link_html">
        <img src="images/button_validation_html5.gif" width="88" height="31" alt="Link to HTML validator">
      </a>

      <a href="https://jigsaw.w3.org/css-validator/check/referer" style="text-decoration: none;" style="text-align: center;" id="validation_link_css">
        <img src="images/button_validation_css.gif" width="88" height="31" alt="Link to CSS validator">
      </a>
    </p>
    </div>
    <script>
      document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
      document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
  </footer>
</html>