<!DOCTYPE html>
<html lang="en-US">
<header>
    <h1>
      🐉 Connor Kells 🐉 ITIS 3135 🐉 Charcoal Komodo Dragon 🐉
    </h1>
    <nav>
      🐉
      <a href="./">Home</a> 🐉
      <a href="introduction.html">Introduction</a> 🐉
      <a href="contract.html">Contract</a> 🐉
      <a href="tables.html">Tables</a> 🐉
      <a href="forms.html">Forms</a> 🐉
      <a href="charcoal_komodo_dragon_co.html">Brand</a> 🐉
      <a href="stuff/cRaPpY wEb&PaGe.htm">Crappy Page</a> 🐉
      <a href="website_evaluations.html">Website Evaluations</a> 🐉
      <a href="firstscripts.html">First Scripts</a> 🐉
      <a href="polygons.html">Polygons</a> 🐉
      <a href="calculator_try.html">Calculator Try</a> 🐉
      <a href="calculator_fcc.html">Calculator FCC</a> 🐉
      <a href="calctest.html">Calculator Test</a> 🐉
    </nav>
  </header>
</html>